<div class="app">

  <div class="appbar">
    <div class="appbar__top"><img src="/assets/logo.svg" alt="" srcset=""></div>
    <div class="appbar__bottom">
      <div class="appbar__item"><img src="/assets/icon-apps.svg"></div>
      <div class="appbar__item"><img src="/assets/icon-bell.svg"></div>
      <div class="appbar__item"><img src="/assets/avatar.svg"></div>
    </div>
  </div>

  <div class="sidebar">
    <div class="sidebar__title">Prospector</div>
    <input class="sidebar__search" type="text" placeholder="Search for a table or a segment">
    <div class="segment__list">
      <div>SEGMENTS</div>
      <div  *ngFor="let segmentTitle of segments | keyvalue" class="segment__item">{{ getNestedValue(segmentTitle, 'icon') + " " + segmentTitle.key}}</div>
    </div>
    <div class="addsegment">
      <div (click)="modalActive = true; modalType = 'segment'">+ Add a segment</div>
    </div>
  </div>

  <div class="appbody">
    <div class="toolbar">
      <div class="toolbar__item"><img src="/assets/icon-news.svg" alt=""></div>
      <div class="toolbar__item"><img src="/assets/toolbar-group.svg" alt=""></div>
    </div>
    <div class="content">
      <div class="segment" *ngFor="let segmentItem of segments | keyvalue">
        <div class="segment__header">
          <span>{{segmentItem.key}}</span>
          <img src="/assets/icon-chevron.svg" alt="">
        </div>
        <div class="segment__items">
          <div class="segment__item" *ngFor="let tableItem of getNestedValue(segmentItem, 'items')">
            <div class="box" [style.--box-color]="tableItem.color || '#CCCCCC'">
              <span>
                {{tableItem.icon}}
              </span>
            </div>
            <h4>{{tableItem.name}}</h4>
          </div>
          <div class="segment__item">
            <div class="box" (click)="modalActive = true; modalType = 'table'; activeSegment = segmentItem.key">
              <img class="icon--add" src="/assets/icon-add.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="modal" class="modal" *ngIf="modalActive">
  <div class="modal__container">
    <div class="modal__header">
      <div class="header__title">Add a {{modalType}}</div>
      <span (click)="modalActive = false" class="button--close">&times;</span>
    </div>
    <div class="modal__content">
      <label for="input-name">Name*</label>
      <input id="input-name" [(ngModel)]="formModel.name" type="text" placeholder="Ex: Computer Software">
      <div class="emojipicker">
        <label for="input-icon">Icon</label>
        <input id="input-icon" type="text" [(ngModel)]="formModel.icon" (click)="iconPickerActive = !iconPickerActive">
        <emoji-mart *ngIf="iconPickerActive" [classList]="'emojipicker__box'" (emojiSelect)="handleEmoji($event)"></emoji-mart>
      </div>
      <div class="colorpicker" *ngIf="modalType === 'table'" >
        <label for="input-color" (click)="colorPickerActive = !colorPickerActive">Color</label>
        <div class="colorpicker__box" (click)="colorPickerActive = !colorPickerActive">
          <span class="colorpicker--item" [style.--color]="formModel.color"></span>
        </div>
        <div *ngIf="colorPickerActive" class="colorpicker__options">
          <span *ngFor="let colorOption of colorOptions" class="colorpicker--item" [style.--color]="colorOption" (click)="formModel.color = colorOption; colorPickerActive = false"></span>
        </div>
      </div>
      <label *ngIf="modalType === 'segment'" for="input-icon">Description</label>
      <textarea *ngIf="modalType === 'segment'" [(ngModel)]="formModel.description"></textarea>
    </div>
    <div class="modal__action">
      <div class="modal__action--save" [class.active]="validate()" (click)="save()"><span>Save</span></div>
      <div class="modal__action--cancel" (click)="modalActive = false"><span>Cancel</span></div>
    </div>
  </div>
</div>

</div>